Options +FollowSymlinks
RewriteEngine on

#--------------------------- PARTIE ADMINISTRATOR --------------------------------------#
#page admin
RewriteCond %{REQUEST_URI} toad$
RewriteRule ([a-zA-Z0-9\-\_\/]*)$ admin.php?page=index [L,QSA]

#page admin/qqch
RewriteCond %{REQUEST_URI} toad/(.*)$
RewriteRule toad/([a-zA-Z0-9\-\_\/]*) admin.php?page=$1 [L,QSA]

#--------------------------- PARTIE FRONT --------------------------------------#
RewriteCond %{REQUEST_URI} ^([a-zA-Z0-9\-\_\/]*)$
RewriteRule ^([a-zA-Z0-9\-\_\/]*) index.php?page=$1 [L,QSA]