$orange: #F37A3A;

header{
	background-color: rgba(255, 255, 255, 0.5);
	position: fixed;
	top: 0;
	
	button {
		border:none;
		background-color: $orange;
		padding: 1rem;
	}
}

footer {
	background-color: rgba(255, 255, 255, 0.5);
	position: fixed;
	bottom: 0;
}